{% extends 'goods/empty_section.html' %}{% load static %}
{% block main %}{% load in_stars %}
<main role="main">


  <div class="container mt-3">
    <!-- Example row of columns -->

    <div class="row">

      <div class="col-md-12">

        <h2>{{ position.name }}</h2>

        <img src="{% get_media_prefix %}{{ position.image }}" width="120">

        <p>{{ position.description }}</p>
        <form method="post" action="{% url 'goods:cart' %}">
          <input type="hidden" name="csrfmiddlewaretoken"
                 value="{{ csrf_token }}">
          <input type="hidden" name="position_id" value="{{ position.id }}">
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>

    </div>
    <hr>
        {% if position.reviews.all %}
            {% for review in position.reviews.all %}
                {{ review.rating|in_stars }} <span>{{ review.author.first_name }}</span>
                <p> {{ review.review_text}}</p>
            {% endfor %}
        {% else%}
            <p>Пока отзывов на товар нет. Значит, Ваш будет первым!</p>
        {% endif %}
        <hr>

    {% if user.is_authenticated %}
    <div class="row">

      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставьте отзыв:</h4>

        <form method="post">
          <input type="hidden" name="csrfmiddlewaretoken"
                 value="{{ csrf_token }}">
          <div class="form-group">
            <label for="content">Содержание</label><br>
            {{ form.review_text }}
          </div>
          {% for radio in form.rating %}
          <div class="form-check">
            {{ radio }}
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary">Оставить</button>
        </form>
      </div>
    </div>
    {% else %}
    <p>Зарегистрируйтесь, чтобы оставить отзыв</p>
    {% endif %}
  </div> <!-- /container -->


</main>
{% endblock %}
