{% extends 'goods/empty_section.html' %}

{% block main %}
<main role="main">

  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row">

      {% for phone in phones %}
      <div class="col-md-4">

        <h2>{{ phone.name }}</h2>

        <a href="{% url 'goods:item_page' phone.name_slug %}">

          <img src="{{ phone.image }}" width="180">

        </a>
        <p>{{ phone.description }}</p>

        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
      {% endfor %}


    </div> <!-- /container -->

  </div>
</main>
{% endblock %}
